<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="tozoni\CustomNewProducts\Api\ConfigurationInterface" type="tozoni\CustomNewProducts\Model\Configuration" />
    <preference for="tozoni\CustomNewProducts\Api\NewProductsProviderInterface" type="tozoni\CustomNewProducts\Model\NewProductsProvider" />
</config>
